<!-- templates/admin/product_register.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_layout}">
<th:block layout:fragment="content">
    <div class="d-flex justify-content-between align-items-center">
        <h4>주문 상세</h4>
        <a href="/admin/orders" class="btn btn-secondary">목록으로</a>
    </div>

    <section class="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="login-wrap p-4 p-md-5 bg-white">
                        <div class="order-status-summary d-flex justify-content-around align-items-center border rounded bg-white py-3 mb-4">
                            <div class="mb-3 mr-lg-5">
                                <label for="invoice-no" class="form-label">송장번호</label>
                                <input type="text" id="invoice-no" name="invoice-no" class="form-control" placeholder="송장번호"/>
                            </div>
                            <div class="mb-3">
                                <label for="invoice-name" class="form-label">택배사</label>
                                <input type="text" id="invoice-name" name="invoice-name" class="form-control" placeholder="택배사"/>
                            </div>
<!--                            <div class="text-center">-->
<!--                                <div style="font-weight: bold;">송장번호 입력해야할듯 .</div>-->
<!--                            </div>-->
                            <a id="invoiceBtn" href="javascript:setInvoice('I');" class="btn btn-black py-3 px-5">송장번호입력</a>
                            <a id="updateInvoiceBtn" style="display: none;" href="javascript:setInvoice('U');" class="btn btn-black py-3 px-5">송장번호수정</a>
                        </div>
                        <div class="row invoice-info" style="margin-bottom: 50px;">
                            <div class="col-sm-4 invoice-col">
                                <b>주문자 정보</b><br>
                                <br>
                                <span id="order-name">주문자:<b></b><br></span>
                                <span id="address">배송지:<b></b>  <br></span>
                                <span id="phone-no">휴대번호:<b></b>  <br></span>
                                <span id="email">이메일:<b></b></span>
                            </div>
                            <div class="col-sm-4 invoice-col">
                                <b>결제수단</b><br>
                                <br>
                                <span id="pay-method">결제수단:<b ></b><br></span>
                                <span id="fn-nm">결제사:<b></b><br></span>
                                <span id="card-no">승인번호:<b></b></span>
                            </div>
                            <div class="col-sm-4 invoice-col">
                                <b>주문정보</b><br>
                                <br>
                                <span id="order-no">주문번호: <b></b><br></span>
                                <span id="app-dtm">주문일시: <b></b><br></span>
                                <span id="cancel-dtm" style="display: none;">취소일시:<b></b><br></span>
                                <span id="amt">총 금액:<b></b></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 table-responsive">
                                <table class="table table-striped" style="min-width: 100% !important;">
                                    <thead>
                                    <tr>
                                        <th>순번</th>
                                        <th>상품명</th>
                                        <th>수량</th>
                                        <th>금액</th>
                                    </tr>
                                    </thead>
                                    <tbody id="orderComList" >

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <p>
                                <a id="cancelBtn" href="javascript:goPaymentCancel();" class="btn btn-primary py-3 px-5">취소하기</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>

<th:block layout:fragment="scripts">
    <script>
        $(document).ready(() => {
            searchOrders();

            $('#periodSelect, #statusSelect').on('change', function () {
                searchOrders();
            });
        });
        const ordNo = "[[${ordNo}]]";
        function searchOrders() {
            //const ordNo = "[[${ordNo}]]";
            GetAjax(`/order/detail/${ordNo}`, '', true).then((data) => {
                const orders = data.orderItems;
                console.log(data);
                console.log(orders);
                if(orders[0].status != "ORDER"){
                    $("#cancelBtn").hide();
                    // $("#order-date").hide();
                    $("#cancel-dtm").show();
                }
                if (!orders || orders.length === 0) {
                    $("#orderList").html(`<p class="text-center">주문 내역이 없습니다.</p>`);
                    return;
                }
                const orderDate = data.orderDate;
                const orderNo = data.orderNo;

                const labelMap = {
                    orderName: "주문자명",
                    orderPhone: "전화번호",
                    orderAddress: "주소",
                    orderAddressDetail: "상세주소",
                    orderZipCode: "우편번호",
                    orderDate: "주문일자",
                    amt : "결제금액",
                    email : "이메일",
                    fnNm : "카드사",
                    cardNo : "카드번호",
                    appDtm : "결제일",
                    payMethod : "결제수단",
                    cancelDtm : "취소",
                    invoiceName : "택배사",
                    invoiceNo : "송장번호"
                };

                const orderer = [];
                const orderInfo = [];

                const detailInfo = data.orderDetailResponseDto;
                Object.entries(detailInfo).forEach(([key, value]) => {
                    if (value !== null && value !== undefined) {
                        orderer.push({
                            title: labelMap[key] || key,
                            value: value
                        });
                    }
                });

                if(detailInfo.invoiceNo != null){
                    $("#updateInvoiceBtn").show();
                    $("#invoiceBtn").hide();
                }


                const payInfo = data.orderPayResponseDto;
                Object.entries(payInfo).forEach(([key, value]) => {
                    if (value !== null && value !== undefined) {
                        orderInfo.push({
                            title: labelMap[key] || key,
                            value: value
                        });
                    }
                });
                const ordererMap = {};
                orderer.forEach(item => {
                    ordererMap[item.title] = item.value;
                });

                const orderInfoMap = {};
                orderInfo.forEach(item => {
                    orderInfoMap[item.title] = item.value;
                });

                $("#app-dtm b").text(formatKoreanDateTime(orderInfoMap["결제일"]));
                $("#order-no b").text(orderNo);
                $("#order-name b").text(ordererMap["주문자명"]);
                $("#phone-no b").text(ordererMap["전화번호"]);
                $("#amt b").text(orderInfoMap["결제금액"]);
                $("#address b").text(orderInfoMap["주소"] +orderInfoMap["상세주소"] + "(" + orderInfoMap["우편번호"] + ")") ;
                $("#email b").text(orderInfoMap["이메일"]);
                $("#fn-nm b").text(orderInfoMap["카드사"]);
                $("#card-no b").text(orderInfoMap["카드번호"]);
                $("#cancel-dtm b").text(formatKoreanDateTime(orderInfoMap["취소"]));
                $("#pay-method b").text(orderInfoMap["결제수단"]);
                $("#invoice-name").val(ordererMap["택배사"]);
                $("#invoice-no").val(ordererMap["송장번호"]);

                let html = '';
                orders.forEach((item, index) => {
                    html += `

                        <tr>
                            <td>${index + 1}</td>
                            <td>${item.productName}</td>
                            <td>${item.productQuantity}</td>
                            <td>${item.productPrice}</td>
                        </tr>
                        `;
                });
                $("#orderComList").html(html);
            }).catch((err) => {
                $("#orderList").html(`<p class="text-danger text-center">주문 정보를 불러오는 데 실패했습니다.</p>`);
            });
        }

        function goPaymentCancel(){

            if (!confirm("정말 주문을 취소하시겠습니까?")) return;

            PostAjax(`/order/cancel`, { ordNo: ordNo }, true).then((data) => {
                alert(data.resultMsg);
                location.reload();
            })
                .catch((err) => {
                    console.log(err);
                    alert(err.responseJSON.message);
                });
        }

        function receive_result(data, url, charSet){
            var form = document.createElement("form");
            document.getElementsByTagName('body')[0].appendChild(form);
            for(var key in data){
                var input = document.createElement("input");
                input.name = key;
                input.type = "hidden";
                input.value = data[key];
                form.appendChild(input);
            }
            form.acceptCharset = charSet;
            form.action = url;
            form.method = 'post';

            form.submit();

        }

        function formatKoreanDateTime(raw) {
            if (!raw || raw.length !== 14) return ''; // 예외 처리

            const year = raw.substring(0, 4);
            const month = parseInt(raw.substring(4, 6));
            const day = parseInt(raw.substring(6, 8));
            const hour = parseInt(raw.substring(8, 10));
            const minute = parseInt(raw.substring(10, 12));
            const second = parseInt(raw.substring(12, 14));

            return `${year}년 ${month}월 ${day}일 ${hour}시 ${minute}분 ${second}초`;
        }

        function setInvoice(type){
            if (type ==='U'){
                const proceed = confirm("이미 입력된 송장번호입니다. 수정하시겠습니까?");
                if (!proceed) {
                    return; // 사용자가 취소한 경우 함수 종료
                }
            }
            const formData = [];
            const invoiceNo = $("#invoice-no").val();
            const invoiceName = $("#invoice-name").val()
            if(invoiceNo == null || invoiceName == null) {
                alert("송장번호 혹은 택배사를 입력하세요"); return false;
            }
            formData.push({
                ordNo : ordNo
                , invoiceNo : invoiceNo
                , invoiceName : invoiceName
            });

            PatchAjax(`/admin/setInvoice`, {
                ordNo : ordNo
                , invoiceNo : invoiceNo
                , invoiceName : invoiceName
            }, true).then((data) => {
                console.log(data);
                location.reload();
            })
                .catch((err) => {
                    console.log(err);
                    // alert(err.responseJSON.message);
                });
        }

    </script>
</th:block>
</html>
