<!-- admin_user_list.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin_layout}">
<th:block layout:fragment="content">
    <h4>회원 목록</h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th><th>이름</th><th>연락처</th><th>승인여부</th><th>승인일자</th><th>권한</th><th>승인</th><th>초기화</th>
        </tr>
        </thead>
        <tbody id="userList">
        </tbody>
    </table>

    <nav id="pagination">
        <!-- 여기에 페이지네이션 버튼 렌더링 -->
    </nav>
</th:block>
</html>

<th:block layout:fragment="scripts">
    <script>
        $(document).ready(function () {
            loadUsers();
        });

        function loadUsers(page = 0) {
            GetAjax(`/admin/members?page=${page}&size=10`, null, true).then(data => {
                console.log(data);
                const html = data.data.map(usersTemplate).join('');
                $("#userList").html(html);
                renderPagination(data, loadUsers);
            });
        }

        function usersTemplate(item) {
            return `
                <tr>
                    <td>${item.email}</td>
                    <td>${item.name}</td>
                    <td>${item.phone}</td>
                    <td>${item.approvalYn === 'Y' ? '승인' : '대기'}</td>
                    <td>${item.approvalDate}</td>
                    <td>${item.role}</td>
                    <td><button class="btn btn-${item.approvalYn === 'Y' ? 'danger' : 'primary'}" onclick="approvalMember(${item.id}, '${item.approvalYn}')">${item.approvalYn === 'Y' ? '승인취소' : '승인'}</button></td>
                    <td><button class="btn btn-danger" onclick="initPassword(${item.id})">비밀번호 초기화</button></td>
                </tr>
            `;
        }

        function approvalMember(id, approvalYn) {
            if(!confirm((approvalYn === 'N' ? '승인' : '승인취소') + '하시겠습니까?')) return;

            const yn = approvalYn === 'Y' ? 'N' : 'Y' ;

            PatchAjax(`/admin/member/${id}?approvalYn=${yn}`, null, true).then(() => {
                alert('변경되었습니다.');
                location.reload();
            });
        }

        function initPassword(id) {
            if(!confirm('해당 고객의 비밀번호를 초기화 하시겠습니까?')) return;

            PatchAjax(`/admin/member/init-password/${id}`, null, true).then(() => {
                alert('초기화 되었습니다.');
                location.reload();
            })
        }
    </script>
</th:block>
