<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">

	<div class="hero-wrap hero-bread" style="background-image: url('/images/bg_6.jpg');">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<h1 class="mb-0 bread">결제</h1>
				</div>
			</div>
		</div>
	</div>

	<section class="order-payment-page">
		<div id="orderError" class="alert alert-danger text-center">
		</div>
		<div id="mask"></div>
		<div class="window">
			<div class="cont">
				<iframe id="pay_frame" name="pay_frame" style="width:100%; height:100%;" src="" marginwidth="0" marginheight="0" frameborder="no" scrolling="no"></iframe>
			</div>
		</div>
		<div class="payment-container">
			<form name="payInit" method="post" target="pay_frame">
				<input type="hidden" name="charSet" value="UTF-8">
			</form>
			<!-- 왼쪽 영역 -->
			<div class="payment-main">

				<!-- 배송지 -->
				<section class="payment-section">
					<div class="section-header with-border">
						배송지
						<a href="javascript:void(0);" class="link-change" id="openModalBtn">
							<span style="font-size: 13px; font-weight: normal; color: #2e77ff;" id="shippingText">변경</span>
						</a>
					</div>

					<!-- 배송지 있음 -->
					<div class="delivery-box no-border" id="shippingInfo" style="display: none;">
					</div>

					<!-- 배송지 없음 -->
					<div id="noDelivery" class="no-delivery" style="display: block;">
						등록된 배송지가 없습니다. 배송지를 등록해주세요.
					</div>
				</section>

				<!-- 주문자 정보 -->
				<section class="payment-section" id="myInfo">
				</section>

				<!-- 주문상품 -->
				<section class="payment-section">
					<div class="section-header with-border">주문상품 <span class="product-count" id="productCount"></span></div>
					<div id="productItemList"></div>
				</section>

				<!-- 결제수단 -->
				<section class="payment-section">
					<div class="section-header with-border">결제수단</div>
					<div class="payment-methods">
						<button class="pay-method selected" data-payType="CARD">카드결제</button>
<!--						<button class="pay-method" data-payType="MOBILE">휴대폰결제</button>-->
					</div>
				</section>
			</div>

			<!-- 오른쪽 결제요약 -->
			<aside class="payment-summary">
				<div class="summary-box">
					<div class="summary-title">결제금액</div>
					<div class="summary-row small"><span>총 상품 금액</span><span id="totalAmount">0원</span></div>
					<hr>
					<div class="summary-total"><span>최종 결제 금액</span><span class="highlight" id="paymentAmount">0원</span></div>
				</div>
				<div class="summary-agree">
					<label><input type="checkbox"> 아래 내용에 모두 동의합니다. (필수)</label>
					<label><input type="checkbox"> 개인정보 수집 및 제3자 제공 동의 (필수)</label>
				</div>
				<button class="btn btn-pay" id="paymentBtn">결제하기</button>
			</aside>
		</div>
	</section>

	<th:block th:replace="layout/fragments/shippingModal :: shippingModalLayout"></th:block>

</th:block>

<th:block layout:fragment="scripts">
	<script>
		const productId = [[${productId != null ? productId : 'null'}]];
		const quantity = [[${quantity != null ? quantity : 1}]];
		let products = [];
		let payType;

		// 수량 버튼 이벤트 예시
		$(document).ready(function () {
			loadCheckout();
		});

		$(document).on('click', '.pay-method', function () {
			$('.pay-method').removeClass('selected');
			$(this).addClass('selected');
			payType = $(this).data('paytype');
			$('#pay-type').val($(this).data('paytype'));
		});

		$(document).on('click', '#paymentBtn', function() {
			const shipping = JSON.parse(decodeURIComponent($("#shippingData").val()));
			// 데이터 구성 (OrderCreate)
			const payData = {};
			const orderItems = [];
			products.forEach((product) => {
				const orderItem = {};
				orderItem.productId = product.productId;
				orderItem.productName = product.productName;
				orderItem.quantity = product.productQuantity;
				orderItem.orderPrice = product.productPrice * product.productQuantity;
				orderItems.push(orderItem);
			});
			payData.orderItems = orderItems;
			payData.ordNm = $("#orderName").val();
			payData.ordTel = $("#orderPhone").val();
			payData.orderAddress = shipping.address;
			payData.orderAddressDetail = shipping.addressDetail;
			payData.orderZipcode = shipping.zipcode;
			payData.payMethod = payType;
			const url = "https://testapi.kispg.co.kr";
			PostAjax(`/order/prepare`, payData, true).then((data) => {
				const pData = data;

				makeForm(pData, payData);
				var maskHeight = $(document).height();
				var maskWidth = $(document).width();

				$("#mask").fadeIn(0);
				$("#mask").fadeTo("slow", 0.6);

				document.payInit.action = url + "/v2/auth";
				document.payInit.submit();
				$(".window").show();
			}).catch((err) => {
				$("#orderError").text(err);
				$("#orderError").show();
			});
		});

		function makeForm(pData,dataForm) {
			let form = document.forms['payInit'];

			for (const key in pData) {
				if(pData[key] != null){
					let hiddenField = document.createElement('input');

					hiddenField.setAttribute('type', 'hidden');
					hiddenField.setAttribute('name', key);
					hiddenField.setAttribute('value', pData[key]);

					form.appendChild(hiddenField);
				}
			}
		}
		//결제창 종료 함수 <<수정 불가능>>
		window.addEventListener("message", returnData, false);

		//결제창 종료 함수 <<'returnData' 수정 불가능>>
		function returnData (e){
			var frm = document.payInit;

			console.log("e.data : " + JSON.stringify(e.data));

			if(false == isEmptyObj(e.data.resultCode)){
				if (e.data.resultCode == '0000'){
					receive_result(e.data.data, frm.returnUrl.value, frm.charSet.value);
				}
				else if(e.data.resultCode == 'XXXX'){ //인증실패시
					console.log("[e.data.resultCode : " + e.data.resultCode + "]");

					var resData = e.data.data;
					$("#orderError").text(resData.resultMsg);
					$("#orderError").show();
					location.reload();
				}

				$("#mask, .window").hide();
				$("#pay_frame").attr("src", "");
			}
		}


		function receive_result(data, url, charSet){
			var form = document.createElement("form");
			document.getElementsByTagName('body')[0].appendChild(form);
			for(var key in data){
				var input = document.createElement("input");
				input.name = key;
				input.type = "hidden";
				input.value = data[key];
				form.appendChild(input);
			}
			form.acceptCharset = charSet;
			form.action = url;
			form.method = 'post';

			form.submit();
		}

		function isEmptyObj(obj)  {
			if(obj.constructor === Object
					&& Object.keys(obj).length === 0)  {
				return true;
			}

			return false;
		}

		function loadCheckout() {
			GetAjax(productId ? `/checkout/${productId}?quantity=${quantity}` : `/checkout`).then(data => {
				const shipping = data.shipping;
				$("#shippingText").text(shipping ? '변경' : '추가');
				if (shipping) {
					const shippingHtml = mainShippingTemplate(shipping);
					$("#shippingInfo").html(shippingHtml).show();
					$("#noDelivery").hide();
				} else {
					$("#shippingInfo").hide();
					$("#noDelivery").show();
				}

				products = data.products;
				const productHtml = data.products.map(productTemplate).join('');
				$("#productItemList").html(productHtml);
				$("#productCount").text(`${data.products.length} 건`);

				let totalAmount = data.products
						.reduce((sum, item) => sum + item.productPrice * item.productQuantity, 0)
						.toLocaleString();

				$("#totalAmount").text(totalAmount);
				$("#paymentAmount").text(totalAmount);
				$("#paymentBtn").text(`${totalAmount}원 결제하기`);

				const myInfoHtml = myInfoTemplate(data.member);
				$("#myInfo").html(myInfoHtml);
			});
		}

		function mainShippingTemplate(item) {
			return `
			<input type="hidden" id="shippingData" value="${encodeURIComponent(JSON.stringify(item))}"/>
			<div class="delivery-header">
				<span class="delivery-name" style="font-weight: bold; font-size: 17px;">${item.subject}</span>
				<span class="label-${item.mainYn === 'Y' ? 'main' : 'basic'}">${item.mainYn === 'Y' ? '기본배송지' : '배송지'}</span>
			</div>
			<div class="delivery-address" style="font-size: 15px;">${item.address} ${item.addressDetail}</div>
			<div class="delivery-phone" style="font-size: 14px;">${item.name} ${item.phone}</div>
			`;
		}

		function productTemplate(item) {
			return `
			<div class="product-box">
				<img src="${item.productMainImageUrl || '/images/product-1.jpg'}" alt="${item.productMainFileName}" class="product-thumb">
					<div class="product-info">
						<div class="product-title">${item.productName}</div>
						<div class="product-meta">수량 ${item.productQuantity}개 · ${(item.productQuantity * item.productPrice).toLocaleString()}원</div>
					</div>
				</div>
			`;
		}

		function myInfoTemplate(item) {
			return `<div class="section-header with-border">주문자</div>
			<div class="form-group">
				<label>이름</label>
				<input type="text" id="orderName" value="${item.name}"/>
			</div>
			<div class="form-group">
				<label>전화번호</label>
				<div class="phone-inputs">
					<input type="text" id="orderPhone" value="${item.phone}"/>
				</div>
			</div>`;
		}

		function selectShippingData(item) {
			const shippingHtml = mainShippingTemplate(item);
			$("#shippingInfo").html(shippingHtml).show();
			$("#noDelivery").hide();
		}
	</script>
</th:block>
</html>
