<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
    <section id="home-section" class="hero">
        <div class="home-slider owl-carousel">
            <div class="slider-item js-fullheight">
                <div class="overlay"></div>
                <div class="container-fluid p-0">
                    <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end"
                         data-scrollax-parent="true">
                        <img class="order-md-last img-fluid" src="/images/banner_001.png" alt="">
                        <div class="one-forth d-flex align-items-center ftco-animate"
                             data-scrollax=" properties: { translateY: '70%' }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item js-fullheight">
                <div class="overlay"></div>
                <div class="container-fluid p-0">
                    <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end"
                         data-scrollax-parent="true">
                        <img class="order-md-last img-fluid" src="/images/banner_002.png" alt="">
                        <div class="one-forth d-flex align-items-center ftco-animate"
                             data-scrollax=" properties: { translateY: '70%' }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-item js-fullheight">
                <div class="overlay"></div>
                <div class="container-fluid p-0">
                    <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end"
                         data-scrollax-parent="true">
                        <img class="order-md-last img-fluid" src="/images/banner_003.png" alt="">
                        <div class="one-forth d-flex align-items-center ftco-animate"
                             data-scrollax=" properties: { translateY: '70%' }">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row" id="productList"></div>
        </div>
    </section>

</th:block>

<th:block layout:fragment="scripts">
<script>
    $(document).ready(function() {
        console.log('loadProducts');
        loadProducts();
    })

    function loadProducts() {
        GetAjax("/product").then((data) => {
            const productListHtml = data.map(productTemplate).join('');
            $("#productList").html(productListHtml);
        });
    }

    function productTemplate(product) {
        const originalPrice = product.price;
        const discountRate = product.discountRate;
        const discountedPrice = Math.round(originalPrice * (1 - discountRate / 100)); // 할인 가격 계산
        const hasDiscount = discountRate > 0;

        return `
    <div class="col-sm-12 col-md-6 col-lg-3 d-flex">
        <div class="product d-flex flex-column">
            <a href="/product/${product.id}" class="img-prod">
                <img class="img-fluid" src="${product.mainImageUrl || '/images/image_1.jpg'}"
                     alt="${product.mainFileName || 'No Image'}">
                ${hasDiscount ? `<span class="status">${discountRate}% Off</span>
                <div class="overlay"></div>` : ''}
            </a>
            <div class="text py-3 pb-4 px-3">
                <!--<div class="d-flex">
                    <div class="cat"><span>상품종류</span></div>
                    <div class="rating">${generateStars(5)}</div>
                </div>-->
                <h3><a href="/product/${product.id}">${product.name}</a></h3>
                <div class="pricing">
                    <!--<p class="price"><span>${discountedPrice}원</span></p>-->
                    <p class="price">
                        ${hasDiscount ?
                        `<span class="original-price" style="text-decoration: line-through; color: gray; font-size: 14px;">
                            ${originalPrice.toLocaleString()}원
                        </span>
                        <span class="discounted-price" style="color: red; font-size: 20px; font-weight: bold; margin-left: 10px;">
                            ${discountedPrice.toLocaleString()}원
                        </span>` : `<p class="price"><span>${originalPrice.toLocaleString()}원</span></p>` }
                    </p>
                </div>
                <p class="bottom-area d-flex px-3">
                    <a href="javascript:addCart(${product.id});" class="add-to-cart text-center py-2 mr-1">
                        <span>장바구니 <i class="ion-ios-add ml-1"></i></span>
                    </a>
                    <a href="javascript:goPayment(${product.id});" class="buy-now text-center py-2">
                        바로 구매<span><i class="ion-ios-cart ml-1"></i></span>
                    </a>
                </p>
            </div>
        </div>
    </div>`;
    }

    function generateStars(count) {
        return Array(count).fill('<a href="#"><span class="ion-ios-star-outline"></span></a>').join('');
    }

    function addCart(productId) {
        if(!denyAction()) return;
        const data = {"productId" : productId, "quantity" : 1};
        PostAjax(`/cart`, data, true).then(async () => {
            await authCheck();
            showCartModal();
        });
    }

    function goPayment(productId) {
        if(!denyAction()) return;
        location.href = `/checkout/${productId}?quantity=1`;
    }

</script>
</th:block>
</html>
