<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="content">

    <!-- 로그인 폼 -->
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-5">
                    <div class="login-wrap p-4 p-md-5 bg-white">
                        <h3 class="text-center mb-4">로그인</h3>

                        <!-- 로그인 실패 메시지 -->
                        <div id="loginError" class="alert alert-danger text-center">
                            이메일 또는 비밀번호를 확인해주세요.
                        </div>

                        <div class="mb-3">
                            <input type="email" class="form-control" name="email" placeholder="이메일" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="password" placeholder="비밀번호" required>
                        </div>

                        <div class="form-group">
                            <button id="loginButton" type="submit" class="btn btn-primary btn-block" style="padding: 10px 0; font-size: 18px;">로그인</button>
                        </div>

                        <div class="form-group d-flex justify-content-between">
                            <a href="/signup" class="text-primary">회원가입</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</th:block>

<th:block layout:fragment="scripts">
<script>

    $(document).ready(() => {

        $("#loginError").hide();

        $("#loginButton").on("click", async () => {
            const data = {
                "email": $("input[name='email']").val(),
                "password": $("input[name='password']").val()
            };

            const isLogin = await loginAjax(data); // 로그인 요청

            if (isLogin) {
                window.location.href = "/";
                $("#loginError").hide();
            } else {
                $("#loginError").show();
            }
        });
    });

</script>

</th:block>

</html>
